.filebox {
}

.filebox label {
    display: inline-block;
    margin: 20px 0 20px 20px;
    padding: 5px 30px 5px 30px;
    color: #000;
    font-size: 25px;
    background-color: #E9F9EE;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 3px;
}
.filebox label:hover {
    background-color: #D8E8DD;
}

.filebox input[type="file"] {
    position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;
}